/* FONTS */

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue-Roman.otf') format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue-Medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue-Bold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* DEFAULTS */

:root {
  --off-white: #fdfbf7;
  --orange: #ff5528;
  --black: #2a2a2a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--off-white);
  color: var(--black);
  font-family: 'Helvetica Neue';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

strong {
  font-weight: 700;
}

p,
li {
  font-weight: 400;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: var(--black);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* UTIL */

.orange {
  color: var(--orange);
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.body-text {
  font-size: 20px;
  line-height: 100%;
}

/* OTHER */

.home-container {
  height: 100dvh;
  width: 100dvw;
}

.home-section {
  height: 100%;
  padding: 20px;
  justify-content: space-between;
}

.header {
  justify-content: space-between;
}

#title span {
  display: block;
  font-size: 180px;
  letter-spacing: calc(-200px * 0.03);
  line-height: 0.8;
}

#title span:nth-child(2) {
  margin-left: 50px;
}

#nav {
  align-items: center;
  align-self: center;
  gap: 10px;
  margin-bottom: 50px;
}

#nav li {
  text-align: center;
}

#posts-heading-container {
  gap: 2px;
}

#superscript {
  font-size: 12px;
}

#face {
  height: 150px;
  width: 150px;
}

#haere-mai {
  align-self: flex-end;
  font-size: 80px;
  letter-spacing: calc(-80px * 0.03);
}
